# importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression,Ridge,Lasso

### Reading csv file

In [2]:
df = pd.read_csv(r"/All data/energy_data.csv")
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# Renaming the columns

In [35]:
#column_names = { "T1":"Temperature in kitchen area","RH_1":"Humidity in kitchen area", "T2":"Temperature in living room area","RH_2":"Humidity in living room area",
#"T3":"Temperature in laundry room area", "RH_3":"Humidity in laundry room area", "T4":"Temperature in office room", "RH_4":"Humidity in office room",
#"T5":"Temperature in bathroom", "RH_5":"Humidity in bathroom", "T6":"Temperature outside the building_north side", "RH_6":"Humidity outside the building_north side",
#"T7":"Temperature in ironing room", "RH_7":"Humidity in ironing room", "T8":"Temperature in teenager room 2", "RH_8":"Humidity in teenager room 2",
#"T9":"Temperature in parents room", "RH_9":"Humidity in parents room","T_out":"Temperature outside_from Chievres weather station",
#"press_mm_hg":"Pressure_from Chievres weather station", "RH_out":"Humidity outside_from Chievres weather station",
#"Windspeed":"Wind speed_from Chievres weather station","Visibility":"Visibility_from Chievres weather station", "Tdewpoint":"Tdewpoint_from Chievres weather station",
#"rv1":"Random variable 1", "rv2":"Random variable 2"}
#df = df.rename(columns=column_names) 
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,NaN,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,NaN,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,NaN,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,NaN,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,NaN,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,NaN,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,NaN,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,NaN,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,NaN,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,NaN,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [3]:
print("Keys of df: \n{}".format(df.keys()))

Keys of df:
Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
df.shape

(19735, 29)

In [4]:
df.dtypes.value_counts()

float64    26
int64       2
object      1
dtype: int64

In [5]:
df.dtypes == "object"

date            True
Appliances     False
lights         False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

# Converting date from objects to float

In [3]:
df["date"] = pd.to_numeric(df["date"], errors="coerce")

# normalizing and removing "date" and "lights" columns

In [6]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df   =   normalised_df.drop(columns=[ 'date' ,'lights' ])
features_df

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:375: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:376: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.327350,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.327350,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.327350,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.327350,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.327350,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0.084112,0.926786,0.537657,0.711655,0.606309,0.830841,0.579374,0.864865,0.765258,0.752031,...,0.864724,0.729443,0.891747,0.602326,0.416667,0.238095,0.348718,0.901961,0.861981,0.861981
19731,0.074766,0.919747,0.536006,0.701769,0.607836,0.825302,0.582178,0.864865,0.765258,0.754897,...,0.864724,0.729443,0.887460,0.602326,0.421053,0.250000,0.361538,0.900452,0.985726,0.985726
19732,0.242991,0.919747,0.538666,0.692651,0.627198,0.818378,0.603988,0.864865,0.771233,0.754897,...,0.864724,0.729443,0.883173,0.602326,0.425439,0.261905,0.374359,0.898944,0.583979,0.583979
19733,0.383178,0.919747,0.549491,0.677054,0.634717,0.805085,0.585294,0.864865,0.773794,0.752031,...,0.864724,0.730581,0.878885,0.602326,0.429825,0.273810,0.387179,0.897436,0.126371,0.126371
19734,0.392523,0.919747,0.538758,0.666171,0.632902,0.799546,0.579062,0.864865,0.781192,0.752031,...,0.864724,0.731719,0.874598,0.602326,0.434211,0.285714,0.400000,0.895928,0.682391,0.682391

# normalizing the data to a common scale using min max scaler

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()  
energy_target = normalised_df['Appliances'] 
energy_target

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

# Splitting the data into training and testing dataset

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_df, energy_target, test_size=0.3, random_state=42)

# printing the shape of the training and testing dataset

In [9]:
print("X_train shape: {}".format(X_train.shape)) 
print("y_train shape: {}".format(y_train.shape))
print("X_test shape: {}".format(X_test.shape)) 
print("y_test shape: {}".format(y_test.shape))
#X_test.shape
#y_test.shape

X_train shape: (13814, 27)
y_train shape: (13814,)
X_test shape: (5921, 27)
y_test shape: (5921,)

# Creating a model and fitting it

In [10]:
linear_model = LinearRegression() 
linear_model.fit(X_train, y_train)
linear_model = LinearRegression().fit(X_train, y_train)
linear_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Obtaining results

In [11]:
r_sq = linear_model.score(X_train, y_train)
print('coefficient of determination:', r_sq)
print('intercept:', linear_model.intercept_) 
print('slope:', linear_model.coef_)

coefficient of determination: 1.0
intercept: -1.6375789613221059e-15
slope: [ 1.00000000e+00 -6.18562872e-16  6.94409707e-16 -3.40289469e-16
 -9.63729569e-16  2.01063031e-16  2.33015433e-16  6.09421014e-17
 -1.42608686e-16 -1.96532353e-16 -6.66601431e-17 -3.67073964e-16
  2.50011067e-16 -6.51344834e-16  6.94531944e-16  5.38034948e-16
 -7.26549585e-16  2.36591992e-16 -1.38427121e-17  8.06947587e-16
 -1.18897316e-16  4.17547402e-16 -4.19255090e-16 -3.39962267e-16
  8.64916296e-17 -6.98325703e-17 -6.98325703e-17]

# Obtaining predictions for training dataset

In [12]:
predicted_values1= linear_model.intercept_ + linear_model.coef_ * X_train
print('predicted response:', predicted_values1, sep='\n')
predicted_values2 = linear_model.predict(X_train)
print('predicted response:', predicted_values2, sep='\n')

predicted response:
       Appliances            T1          RH_1            T2          RH_2  \
9129     0.037383 -1.945227e-15 -1.473165e-15 -1.679383e-15 -2.182991e-15
2453     0.018692 -1.814591e-15 -1.302446e-15 -1.701893e-15 -2.283257e-15
9152     0.028037 -1.898852e-15 -1.477497e-15 -1.657121e-15 -2.222013e-15
12694    0.102804 -1.984418e-15 -1.327289e-15 -1.733144e-15 -2.316047e-15
16952    0.037383 -2.154246e-15 -1.344489e-15 -1.977868e-15 -1.944520e-15
...           ...           ...           ...           ...           ...
11284    0.046729 -1.962210e-15 -1.372390e-15 -1.718961e-15 -2.250738e-15
11964    0.102804 -2.003361e-15 -1.318881e-15 -1.783523e-15 -2.223007e-15
5390     0.018692 -1.866192e-15 -1.471764e-15 -1.689525e-15 -2.101694e-15
860      0.065421 -1.964170e-15 -1.474440e-15 -1.744786e-15 -2.034651e-15
15795    0.112150 -1.933688e-15 -1.432970e-15 -1.731330e-15 -2.128161e-15

                 T3          RH_3            T4          RH_4            T5  \
9129  -1.562406e-15 -1.566865e-15 -1.608535e-15 -1.675336e-15 -1.717769e-15
2453  -1.593756e-15 -1.466239e-15 -1.621108e-15 -1.736182e-15 -1.672697e-15
9152  -1.562406e-15 -1.558806e-15 -1.612324e-15 -1.671299e-15 -1.711948e-15
12694 -1.534174e-15 -1.517532e-15 -1.604637e-15 -1.706966e-15 -1.737676e-15
16952 -1.487710e-15 -1.530600e-15 -1.582676e-15 -1.711227e-15 -1.784751e-15
...             ...           ...           ...           ...           ...
11284 -1.540689e-15 -1.526135e-15 -1.602441e-15 -1.711409e-15 -1.727159e-15
11964 -1.545701e-15 -1.501850e-15 -1.603594e-15 -1.737764e-15 -1.719647e-15
5390  -1.589134e-15 -1.541490e-15 -1.620559e-15 -1.684020e-15 -1.697111e-15
860   -1.570758e-15 -1.549005e-15 -1.604637e-15 -1.686292e-15 -1.688660e-15
15795 -1.545701e-15 -1.552381e-15 -1.612324e-15 -1.709238e-15 -1.710257e-15

       ...            T9          RH_9         T_out   Press_mm_hg  \
9129   ... -1.524986e-15 -1.642789e-15 -1.501358e-15 -1.740162e-15
2453   ... -1.580708e-15 -1.647317e-15 -1.425680e-15 -1.737029e-15
9152   ... -1.526792e-15 -1.643252e-15 -1.548495e-15 -1.739056e-15
12694  ... -1.504634e-15 -1.642296e-15 -1.278647e-15 -1.704125e-15
16952  ... -1.435454e-15 -1.646345e-15 -9.517168e-16 -1.700622e-15
...    ...           ...           ...           ...           ...
11284  ... -1.502993e-15 -1.644107e-15 -1.259620e-15 -1.696106e-15
11964  ... -1.504634e-15 -1.646244e-15 -1.058964e-15 -1.693433e-15
5390   ... -1.563721e-15 -1.643480e-15 -1.535521e-15 -1.708364e-15
860    ... -1.548703e-15 -1.644626e-15 -1.454221e-15 -1.736384e-15
15795  ... -1.526792e-15 -1.644512e-15 -1.335298e-15 -1.718733e-15

             RH_out     Windspeed    Visibility     Tdewpoint           rv1  \
9129  -1.313430e-15 -1.697473e-15 -1.972311e-15 -1.620946e-15 -1.688176e-15
2453  -1.300611e-15 -1.697473e-15 -1.841556e-15 -1.607966e-15 -1.697917e-15
9152  -1.278635e-15 -1.677508e-15 -1.949647e-15 -1.623881e-15 -1.672461e-15
12694 -1.324418e-15 -1.687490e-15 -1.768334e-15 -1.589311e-15 -1.660147e-15
16952 -1.489240e-15 -1.697473e-15 -1.841556e-15 -1.569481e-15 -1.661396e-15
...             ...           ...           ...           ...           ...
11284 -1.342732e-15 -1.837224e-15 -1.841556e-15 -1.588919e-15 -1.701149e-15
11964 -1.406829e-15 -1.697473e-15 -1.841556e-15 -1.569090e-15 -1.686372e-15
5390  -1.291454e-15 -1.747384e-15 -1.960107e-15 -1.623229e-15 -1.664212e-15
860   -1.415986e-15 -1.677508e-15 -1.841556e-15 -1.627664e-15 -1.639039e-15
15795 -1.299695e-15 -1.667526e-15 -1.841556e-15 -1.594725e-15 -1.661956e-15

                rv2
9129  -1.688176e-15
2453  -1.697917e-15
9152  -1.672461e-15
12694 -1.660147e-15
16952 -1.661396e-15
...             ...
11284 -1.701149e-15
11964 -1.686372e-15
5390  -1.664212e-15
860   -1.639039e-15
15795 -1.661956e-15

[13814 rows x 27 columns]
predicted response:
[0.03738318 0.01869159 0.02803738 ... 0.01869159 0.06542056 0.11214953]

# obtaining predictions for the testing dataset

In [13]:
predicted_values = linear_model.predict(X_test)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae,3)

0.0

# Linear Regression results

In [26]:
rss = np.sum(np.square(y_test - predicted_values))  
#rss = sum((y_test-predicted_values)**2)
round(rss,3)

42.334

In [27]:
from sklearn.metrics import mean_squared_error  
rmse   =   np.sqrt(mean_squared_error(y_test , predicted_values))  
round(rmse, 3)

0.085

In [28]:
from    sklearn.metrics    import    r2_score  
r2_score   =   r2_score(y_test,   predicted_values)  
round(r2_score,    3)

0.205

In [29]:
mse = np.mean((y_test -predicted_values)**2)
round(mse, 3)

0.007

# Ridge Regression

In [15]:
ridge_reg = Ridge(alpha= 0.4, normalize=True)  
ridge_reg.fit(X_train, y_train)
ridge_reg = Ridge(alpha= 0.4, normalize=True).fit(X_train, y_train)
ridge_reg

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [19]:
predicted_response = ridge_reg.predict(X_test)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_response)
round(mae,3)

0.018

In [20]:
rss = np.sum(np.square(y_test - predicted_response))  
#rss = sum((y_test - predicted_response)**2)
round(rss,3)

5.856

In [49]:
from sklearn.metrics import mean_squared_error  
rmse   =   np.sqrt(mean_squared_error(y_test,   predicted_response))  
round(rmse, 3)

0.031

In [22]:
mse = np.mean((y_test - predicted_response)**2)
round(mse,3)

0.001

In [23]:
from    sklearn.metrics    import    r2_score  
r2_score   =   r2_score(y_test,   predicted_response)  
round(r2_score,    3)

0.89

# Lasso Regression

In [14]:
lasso_reg = Lasso(alpha= 0.001, normalize=True)  
lasso_reg.fit(X_train, y_train)
lasso_reg = Lasso(alpha= 0.001, normalize=True).fit(X_train, y_train)
lasso_reg

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=True, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [31]:
predicted_response2 = lasso_reg.predict(X_test)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_response2)
round(mae,3)

0.057

In [32]:
rss = np.sum(np.square(y_test - predicted_response2))  
#rss = sum((y_test, predicted_response)**2)
round(rss,3)

53.281

In [33]:
from sklearn.metrics import mean_squared_error  
rmse   =   np.sqrt(mean_squared_error(y_test,   predicted_response2))  
round(rmse, 3)

0.095

In [34]:
from    sklearn.metrics    import    r2_score  
r2_score   =   r2_score(y_test ,  predicted_response2)  
round(r2_score,    3)

-0.0

# comparing   the   effects   of   regularisation

In [16]:
def get_weights_df(model, feat, col_name): 
    weights   =   pd.Series(model.coef_,feat.columns).sort_values()     
    weights_df   =   pd.DataFrame(weights).reset_index()     
    weights_df.columns   =   [ 'Features' ,   col_name]     
    weights_df[col_name].round( 3 )      
    return    weights_df

In [17]:
linear_model_weights   =   get_weights_df(linear_model,   X_train, 'Linear_Model_Weight' )  
ridge_weights_df   =   get_weights_df(ridge_reg,   X_train, 'Ridge_Weight' )  
lasso_weights_df   =   get_weights_df(lasso_reg,   X_train,    'Lasso_weight' )

In [18]:
final_weights   =   pd.merge(linear_model_weights,   ridge_weights_df,   on= 'Features' )  
final_weights   =   pd.merge(final_weights,   lasso_weights_df,   on= 'Features' )
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2        -9.637296e-16     -0.007254          -0.0
1          RH_8        -7.265496e-16     -0.015853          -0.0
2            T7        -6.513448e-16     -0.003850           0.0
3            T1        -6.185629e-16     -0.000717           0.0
4     Windspeed        -4.192551e-16      0.006343           0.0
5            T6        -3.670740e-16      0.006464           0.0
6            T2        -3.402895e-16      0.008612           0.0
7    Visibility        -3.399623e-16      0.001874           0.0
8            T5        -1.965324e-16     -0.006582           0.0
9          RH_4        -1.426087e-16      0.003000           0.0
10  Press_mm_hg        -1.188973e-16     -0.002157          -0.0
11          rv1        -6.983257e-17      0.000065          -0.0
12          rv2        -6.983257e-17      0.000065          -0.0
13         RH_5        -6.666014e-17      0.002845           0.0
14         RH_9        -1.384271e-17     -0.008704          -0.0
15           T4         6.094210e-17     -0.001828           0.0
16    Tdewpoint         8.649163e-17     -0.003167           0.0
17           T3         2.010630e-16      0.014117           0.0
18         RH_3         2.330154e-16      0.012251           0.0
19           T9         2.365920e-16     -0.007320           0.0
20         RH_6         2.500111e-16      0.000097          -0.0
21       RH_out         4.175474e-16     -0.007526          -0.0
22           T8         5.380349e-16      0.003000           0.0
23         RH_1         6.944097e-16      0.034686           0.0
24         RH_7         6.945319e-16     -0.009938          -0.0
25        T_out         8.069476e-16      0.000741           0.0
26   Appliances         1.000000e+00      0.701913           0.0